main {
	display: flex;
	justify-content: center;
}
.pic {
	height: 156px;
	width: 156px;
	display: block;
	border-radius: 50%;
	margin: 0 auto;
}
.form-container {
	padding: 18px;
	height: auto;
	margin-top: 18px;
	border-radius: 12px;
}
.logo {
	height: 78px;
}
